<!--# <%= form_for @message do |f| %>
  <%= f.hidden_field :recipient_id, value: @recipient_id %>
  <%= f.text_field :content %>
  <%= f.submit "Send" %>
<% end %>

<div class="error_message">
<% if flash[:error] %>
  <strong><%= flash[:error] %></strong>
<% end %>
</div> -->