<div class="row">
  <div class="col-5">
  <nav class="message_nav">
    <h1>Messages</h1>
    <hr>
    <div class="message_search_wrapper">
      <form class="message_search_form">
        <input type="text" class="message_search_text" />
        <button class="message_search_button">Search</button>
      </form>
      <div class="message_results"></div>
    </div>
    <% if @friends.present? %>
      <ul class="message_list">
        <% @friends.each do |friend| %>
          <div class="message_list_item" id=<%= friend.id %>>
            <li class="container-fluid">
            <div class="row">
              <div class="list_item_left col-3">
                <%= check_user_image_small(friend) %>
              </div>
              <div class="list_item_right col-9">
                <h5><%= friend.name %></h5>
                <% last_message = (Message.where(["sender_id = ? and recipient_id = ?", @current_user.id, friend.id]) + Message.where(["sender_id = ? and recipient_id = ?", friend.id, @current_user.id])).sort_by(&:created_at).last %>
                <div class="last_message_<%= friend.id %>">
                  <% if last_message.present? %>
                    <p><%= last_message.content %></p>
                    <% if last_message.created_at > Time.now.beginning_of_day %>
                      <p class="sm-text"><%= last_message.created_at.strftime("%l:%M %p") %></p>
                    <% else %>
                      <p class="sm-text"><%= last_message.created_at.strftime("%e %b %Y") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            </li>
          </div>
        <% end %>
      </ul>
    <% end %>
  </nav>
  </div>


<div class="col-7">
  <div class="message_window_wrapper">
    <ul class="message_window" id=<%= @current_user.id %>>
    </ul>
    <div class="message_send_wrapper hide">
      <%= form_for @message, html: {multipart: true, class: 'message_send_form'} do |f| %>
        <hr>
        <%= f.label :content %>
        <%= f.text_area :content, class: 'message_send_text' %>
        <br>
        <div class="thumbnails"></div>
        <div class="progress_bar_parent">
          <div class="progress_bar"></div>
        </div>
        <br><br>
        <button class="message_send_button">Send</button>
      <% end %>
    </div>
  </div>
</div>
