<h1>Messages</h1>

<nav class="message_nav">
  <div class="message_search_wrapper">
    <form class="message_search_form">
      <input type="text" class="message_search_text" />
      <button class="message_search_button">Search</button>
    </form>
    <div class="message_results"></div>
  </div>
  <% if @messaged_friends.present? %>
    <ul class="message_list">
      <% @messaged_friends.each do |friend| %>
        <li>
          <%= link_to message_path(friend.id) do %>
            <%= check_user_image_small(friend) %>
            <h3><%= friend.name %></h3>
            <% last_message = (Message.where(["sender_id = ? and recipient_id = ?", @current_user.id, friend.id]) + Message.where(["sender_id = ? and recipient_id = ?", friend.id, @current_user.id])).sort_by(&:created_at).last %>
            <% if last_message.created_at > Time.now.beginning_of_day %>
              <p><%= last_message.created_at.strftime("%l:%M %p") %></p>
            <% else %>
              <p><%= last_message.created_at.strftime("%e %b %Y") %></p>
            <% end %>
            <p><%= last_message.content %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You don't have messages. Start a conversation below.</p>
  <% end %>
  <div class="start_conversation">
    <button class="show_friends">Message</button>
  </div>
</nav>

<div class="message_window">
</div>

<div class="message_friends_list hide">
  <% if @current_user.friends.present? %>
    <button class="hide_friends">Cancel</button>
    <h4>Send a message to a friend:</h4>
    <ul>
    <% @current_user.friends.each do |friend| %>
      <li>
        <%= check_user_image_small(friend) %>
        <h3><%=link_to friend.name, message_path(friend.id) %></h3>
      </li>
    <% end %>
    </ul>
  <% else %>
    <p>You don't have friends.</p>
  <% end %>
</div>

<hr/>
