<h3>Edit Profile</h3>

<%= form_for @user, html: {multipart: true} do |f| %>
  <hr>
  <p><strong>Name:</strong> <%= @user.name %></p>
  <p><strong>Email: </strong><%= @user.email %></p>
  <%= f.label :image, "Edit Profile Image:" %>
  <%= f.cl_image_upload :image %>
  <br><br>
  <%= f.submit %>
<% end %>
