<div class="container user_profile">
<h1>Edit Profile</h1>
<hr>
<div class="form edit_form">
  <%= form_for @user, html: {multipart: true} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :image, "Edit Profile Image:" %>
    <%= f.cl_image_upload :image %>
    <br>
    <%= f.submit nil, class: "edit_button", style: "background-color: #262525" %>
  <% end %>
  </div>
</div>
