
<h2>Create an Account</h2>
<hr>

<% if @user.errors.full_messages.any? %>
  <ul>
    <% @user.errors.full_messages.each do |e| %>
    <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br><br>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <br><br>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br><br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br><br>
  <br>

  <hr>

  <%= f.submit 'Sign Up'%>
<% end %>
