<div class="container user_profile">
  <h5>Name:</h5>
  <h3><%= @user.name %></h3>
  <br>
  <h5>Email: </h5>
  <h3><%= @user.email %></h3>
  <br>
  <h5>Profile Image: </h5>
  <div class="user_avatar">
    <%= check_user_image_large(@user) %>
  </div>

  <% if @user.id === @current_user.id %>
    <p><%= link_to "Edit profile", edit_user_path %></p>
  <% elsif @current_user.friends.include? @user %>
    <%= button_to "Message", messages_path(@user.id), class: "message_friends", id: @user.id, method: :get %>
    <%= link_to "Unfriend", user_friend_path(@user.id, @current_user.id), method: "delete" %>
  <% elsif @current_user.pending_requests.include? @user %>
    <p>Waiting for Approval</p>
  <% elsif @current_user.received_requests.include? @user %>
    <button id="accept_friend" friend_id="<%= @user.id %>" current_user_id="<%= @current_user.id %>">Accept Friend</button>
  <% else %>
    <%# button_to "Add Friend", user_friends_path(@user.id), method: :post %>
    <button id="add_friend" friend_id="<%= @user.id %>">Add Friend</button>
  <% end %>
</div>