<%= form_for @friendship do |f| %>

  <%= f.label :friend_id, "Friend's Name: " %>
  <%= select_tag 'friend_id', options_for_select(@users.map{|user| ["#{user.name}", user.id] }) %><br>

  <%= f.submit "Add Friend" %>

  <ul>
  <% @friendships.each do |friendship| %>
    <li>
      <%= link_to friendship.user_id, friendship_path(friendship.id) %>
    </li>
  <% end %>
  </ul>

<% end %>
