<!DOCTYPE html>
<html>
  <head>
    <title>GA-Chat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="main_nav">
      <div class="main_nav_logo_wrapper">
        Logo
      </div>
      <div class="main_nav_item_wrapper">
        <ul class="main_nav_item">
          <li><%= link_to "Messages", messages_path %></li>
          <li>Friends</li>
          <li>Requests</li>
          <li>User Center</li>
        </ul>
      </div>
    </nav>
    <hr />
    
    <%= yield %>

  </body>

</html>
